link.mode=SOURCE
connection.mode=OUTBOUND
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='<public-api-key>' password='<public-api-secret>';
local.security.protocol=SASL_SSL
local.sasl.mechanism=PLAIN
local.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='DHMDCG2WOKZIKIKT' password='Jtj6E/tYWTuQNkDEqkT0Rt1zlp+qw3nWiWp+GfS2GHXqwl/6MYSpr8wAfgmFAbxv';
